{
  "openapi": "3.1.0",
  "info": {
    "title": "Meer API",
    "version": "1.3.0",
    "description": "Check phone numbers against national do-not-call registers.\n\nAuthenticate with `Authorization: Bearer <YOUR_API_KEY>`. The `Bearer` prefix is optional.\n\nLookups use credits from your limit for the billing period. The cost varies by country; each response reports it in `X-Credit-Cost` and `cost`.\n\nResellers must send `X-Forwarded-Host` with a unique ID for the end customer on every request.",
    "contact": {
      "name": "API Support",
      "email": "support@meerapi.com"
    }
  },
  "servers": [
    {
      "url": "https://api.meerapi.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/check_phone_number": {
      "get": {
        "operationId": "checkPhoneNumber",
        "tags": [
          "Phone Numbers"
        ],
        "summary": "Check a phone number",
        "description": "Returns whether the number is on its country's do-not-call register. Send `webhook_url` to get the answer as a POST instead. See [Webhooks](/api-reference/webhooks).\n\nSend numbers in E.164 with the national leading zero dropped: UK `01000822380` is `+441000822380`.",
        "parameters": [
          {
            "name": "phone_number",
            "in": "query",
            "required": true,
            "description": "E.164, URL-encoded (`+` becomes `%2B`). The `+` is optional.",
            "schema": {
              "type": "string"
            },
            "examples": {
              "au": {
                "summary": "AU number",
                "value": "+61491570006"
              },
              "us": {
                "summary": "US number",
                "value": "+14155552671"
              },
              "gb": {
                "summary": "UK number",
                "value": "+442071234567"
              }
            }
          },
          {
            "name": "webhook_url",
            "in": "query",
            "required": false,
            "description": "Turns on webhook mode. https only, at most 2048 characters, a public host, no embedded credentials.",
            "schema": {
              "type": "string",
              "format": "uri",
              "maxLength": 2048
            }
          },
          {
            "name": "X-Forwarded-Host",
            "in": "header",
            "required": false,
            "description": "Resellers only, and required for them: a unique identifier for your customer that you must be able to provide exact details for e.g. `id-123` that we can later link to a customer name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The answer.",
            "headers": {
              "X-Meer-Correlation-Id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "X-Credit-Cost": {
                "$ref": "#/components/headers/CreditCost"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Answer"
                },
                "examples": {
                  "listed": {
                    "value": {
                      "do_not_call": true,
                      "timestamp": "2026-09-28T04:01:05.123456+00:00",
                      "dnc_list_source": "https://www.donotcall.gov.au",
                      "cost": {
                        "credits_used_for_query": 2,
                        "total_credits_used": 5120,
                        "credit_limit": 25000
                      }
                    },
                    "summary": "On the register"
                  },
                  "not_listed": {
                    "summary": "Not on the register",
                    "value": {
                      "do_not_call": false,
                      "timestamp": "2026-09-28T04:01:05.123456+00:00",
                      "dnc_list_source": null,
                      "cost": {
                        "credits_used_for_query": 1,
                        "total_credits_used": 5121,
                        "credit_limit": 25000
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Webhook mode: the lookup is queued. The answer is POSTed to `webhook_url`.",
            "headers": {
              "X-Meer-Correlation-Id": {
                "$ref": "#/components/headers/CorrelationId"
              },
              "X-Credit-Cost": {
                "$ref": "#/components/headers/CreditCost"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimitLimit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimitRemaining"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Receipt"
                },
                "examples": {
                  "started": {
                    "value": {
                      "status": "started",
                      "correlation_id": "0f5d6c2e-6a1f-4c6e-9d6b-2b1f0c7e8a91",
                      "phone_number": "+61491570006",
                      "country": "AU"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request, or the register rejected the number (`invalid_phone_number`, charged).",
            "headers": {
              "X-Meer-Correlation-Id": {
                "$ref": "#/components/headers/CorrelationId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RequestError"
                    },
                    {
                      "$ref": "#/components/schemas/LookupError"
                    }
                  ]
                },
                "examples": {
                  "missing_parameter": {
                    "value": {
                      "error": "missing phone_number parameter"
                    }
                  },
                  "not_e164": {
                    "value": {
                      "error": "phone number is not in e.164 format - please double check the format and try again"
                    }
                  },
                  "malformed_number": {
                    "value": {
                      "error": "phone number is malformed - please double check the format and try again"
                    }
                  },
                  "bad_webhook_url": {
                    "value": {
                      "error": "webhook_url is invalid: only https URLs are accepted"
                    }
                  },
                  "invalid_phone_number": {
                    "value": {
                      "error": "DNC provider marked the phone number as invalid",
                      "error_code": "invalid_phone_number",
                      "charged": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "missing_key": {
                    "value": {
                      "error": "Missing API key. Please provide it as: Authorization: Bearer <YOUR_KEY>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "invalid API key"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Unsupported country.",
            "headers": {
              "X-Meer-Correlation-Id": {
                "$ref": "#/components/headers/CorrelationId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "unsupported_country": {
                    "value": {
                      "error": "country not supported",
                      "country": "CN",
                      "supported_countries": [
                        "US",
                        "GB",
                        "DE",
                        "IE",
                        "BE",
                        "NZ",
                        "ES",
                        "AU"
                      ]
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Credit limit reached. Requests return 429 until the next billing period or a credit top-up.",
            "headers": {
              "X-Meer-Correlation-Id": {
                "$ref": "#/components/headers/CorrelationId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "exhausted": {
                    "value": {
                      "error": "Rate limit exceeded. Please try again next month or contact support."
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error. `billing_error` means credits could not be settled; `charged` says whether you paid.",
            "headers": {
              "X-Meer-Correlation-Id": {
                "$ref": "#/components/headers/CorrelationId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/RequestError"
                    },
                    {
                      "$ref": "#/components/schemas/LookupError"
                    }
                  ]
                },
                "examples": {
                  "billing_error": {
                    "value": {
                      "error": "Credit finalization failed",
                      "error_code": "billing_error",
                      "charged": false
                    }
                  },
                  "unable_to_process": {
                    "value": {
                      "error": "unable to process request"
                    }
                  },
                  "usage_update_failed": {
                    "value": {
                      "error": "Failed to update usage statistics"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "The upstream register failed. Synchronous only. Not charged.",
            "headers": {
              "X-Meer-Correlation-Id": {
                "$ref": "#/components/headers/CorrelationId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupError"
                },
                "examples": {
                  "upstream_error": {
                    "value": {
                      "error": "upstream provider could not process the request",
                      "error_code": "upstream_error",
                      "charged": false
                    }
                  }
                }
              }
            }
          },
          "504": {
            "description": "The upstream register timed out. Synchronous only. Not charged.",
            "headers": {
              "X-Meer-Correlation-Id": {
                "$ref": "#/components/headers/CorrelationId"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupError"
                },
                "examples": {
                  "upstream_timeout": {
                    "value": {
                      "error": "upstream provider timed out",
                      "error_code": "upstream_timeout",
                      "charged": false
                    }
                  }
                }
              }
            }
          }
        },
        "callbacks": {
          "lookupFinished": {
            "{$request.query.webhook_url}": {
              "post": {
                "summary": "Lookup result",
                "description": "Sent when a webhook lookup finishes. Delivery is at least once, so deduplicate on `correlation_id`. Reply 2xx within 10 seconds. 5xx, 408, 425 and 429 are retried with backoff (30 seconds to 1 hour, up to 10 attempts); other statuses are not. Redirects are not followed.",
                "parameters": [
                  {
                    "name": "X-Meer-Correlation-Id",
                    "in": "header",
                    "required": true,
                    "schema": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  {
                    "name": "X-Meer-Phone-Number",
                    "in": "header",
                    "required": true,
                    "schema": {
                      "type": "string"
                    }
                  },
                  {
                    "name": "X-Meer-Country",
                    "in": "header",
                    "required": true,
                    "schema": {
                      "type": "string"
                    }
                  },
                  {
                    "name": "X-Meer-Status",
                    "in": "header",
                    "required": true,
                    "description": "The HTTP status the synchronous lookup would have returned.",
                    "schema": {
                      "type": "string",
                      "enum": [
                        "200",
                        "400",
                        "500",
                        "502"
                      ]
                    }
                  },
                  {
                    "name": "User-Agent",
                    "in": "header",
                    "required": true,
                    "schema": {
                      "type": "string",
                      "const": "Meer-Webhooks/1.0"
                    }
                  }
                ],
                "requestBody": {
                  "required": true,
                  "content": {
                    "application/json": {
                      "schema": {
                        "oneOf": [
                          {
                            "$ref": "#/components/schemas/SucceededPush"
                          },
                          {
                            "$ref": "#/components/schemas/FailedPush"
                          }
                        ]
                      },
                      "examples": {
                        "succeeded": {
                          "value": {
                            "status": "succeeded",
                            "error_code": null,
                            "correlation_id": "0f5d6c2e-6a1f-4c6e-9d6b-2b1f0c7e8a91",
                            "phone_number": "+61491570006",
                            "country": "AU",
                            "do_not_call": true,
                            "timestamp": "2026-09-28T04:01:05.123456+00:00",
                            "dnc_list_source": "https://www.donotcall.gov.au",
                            "cost": {
                              "credits_used_for_query": 2,
                              "total_credits_used": 5120,
                              "credit_limit": 25000
                            }
                          }
                        },
                        "invalid_phone_number": {
                          "value": {
                            "status": "failed",
                            "error_code": "invalid_phone_number",
                            "error": "DNC provider marked the phone number as invalid",
                            "charged": true,
                            "correlation_id": "0f5d6c2e-6a1f-4c6e-9d6b-2b1f0c7e8a91",
                            "phone_number": "+61491570006",
                            "country": "AU"
                          }
                        },
                        "lookup_expired": {
                          "value": {
                            "status": "failed",
                            "error_code": "lookup_expired",
                            "error": "the lookup could not be completed",
                            "charged": false,
                            "correlation_id": "0f5d6c2e-6a1f-4c6e-9d6b-2b1f0c7e8a91",
                            "phone_number": "+61491570006",
                            "country": "AU"
                          }
                        },
                        "billing_error": {
                          "value": {
                            "status": "failed",
                            "error_code": "billing_error",
                            "error": "Credit finalization failed",
                            "charged": false,
                            "correlation_id": "0f5d6c2e-6a1f-4c6e-9d6b-2b1f0c7e8a91",
                            "phone_number": "+61491570006",
                            "country": "AU"
                          }
                        }
                      }
                    }
                  }
                },
                "responses": {
                  "2XX": {
                    "description": "Delivered. The body is ignored."
                  },
                  "4XX": {
                    "description": "A permanent failure and not retried, except 408, 425 and 429, which are retried with backoff."
                  },
                  "5XX": {
                    "description": "Retried with backoff from 30 seconds up to one hour, for up to 10 attempts."
                  }
                }
              }
            }
          }
        }
      }
    },
    "/usage_stats": {
      "get": {
        "operationId": "getUsageStats",
        "tags": [
          "Usage"
        ],
        "summary": "Get usage",
        "description": "Legacy lifetime request counts for the account that owns the API key, by calendar month and by country. Free. This response is unchanged. For credit balances and usage by billing period, use [GET /v2/usage_stats](/api-reference/usage/get-billing-period-usage).",
        "responses": {
          "200": {
            "description": "Usage for your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageStatsResponse"
                },
                "examples": {
                  "usage": {
                    "value": {
                      "customer_name": "acme_corp",
                      "total_requests": 4823,
                      "monthly": [
                        {
                          "year": 2026,
                          "month": 3,
                          "request_count": 1500
                        },
                        {
                          "year": 2026,
                          "month": 4,
                          "request_count": 2100
                        },
                        {
                          "year": 2026,
                          "month": 5,
                          "request_count": 1223
                        }
                      ],
                      "by_country": [
                        {
                          "country": "US",
                          "request_count": 3200
                        },
                        {
                          "country": "ES",
                          "request_count": 1100
                        },
                        {
                          "country": "IE",
                          "request_count": 523
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "missing_key": {
                    "value": {
                      "error": "Missing API key. Please provide it as: Authorization: Bearer <YOUR_KEY>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "invalid API key"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "unable_to_process": {
                    "value": {
                      "error": "unable to process request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/usage_stats": {
      "get": {
        "operationId": "getUsageStatsV2",
        "tags": [
          "Usage"
        ],
        "summary": "Get billing-period usage",
        "description": "Credit balances and usage for the authenticated account, shared across its API keys. Free. Returns the most recent stored billing period by default; reading usage does not create a new period.\n\nSelect a period with id, or paginate with num_billing_periods and cursor. Results are ordered by start_date and then id, newest first. An account with no stored periods returns an empty data array.\n\nMonthly periods omit monthly. Annual periods include twelve month buckets anchored to the billing start date, with zero-filled empty buckets. Period and monthly totals include pending charges; by_country counts completed lookups only. Refunds reduce usage in the original period. Historical usage without dated detail remains in the totals and is reported in unallocated_usage.\n\nAccepts an API key or a verified portal JWT with active organization membership. See [Usage and billing periods](/guides/usage) for examples and the differences from /usage_stats.",
        "security": [
          {
            "apiKey": []
          },
          {
            "portalJwt": []
          }
        ],
        "parameters": [
          {
            "name": "num_billing_periods",
            "in": "query",
            "required": false,
            "description": "Number of billing periods per page. Defaults to the most recent stored period, which may be a past period. Cannot be combined with id.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "description": "Select one billing-period ID returned by this endpoint or GET /periods. Cannot be combined with num_billing_periods or cursor. Unknown IDs and IDs belonging to another account return 404.",
            "schema": {
              "type": "integer",
              "format": "int64",
              "minimum": 1
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque next_cursor from the preceding response for the same account. Pass it unchanged to fetch older periods; stop when next_cursor is null. Can be combined with num_billing_periods, but not id.",
            "schema": {
              "type": "string",
              "maxLength": 1024
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage for the selected billing periods. A specific id still returns a one-item data array with next_cursor set to null.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPeriodUsagePage"
                },
                "examples": {
                  "monthly": {
                    "summary": "Monthly billing period",
                    "value": {
                      "customer_name": "acme_corp",
                      "data": [
                        {
                          "id": 123,
                          "type": "monthly",
                          "start_date": "2026-10-01T00:00:00Z",
                          "end_date": "2026-11-01T00:00:00Z",
                          "credit_limit": 10000,
                          "credits_used": 900,
                          "credits_remaining": 9100,
                          "total_requests": 700,
                          "by_country": [
                            {
                              "country": "US",
                              "request_count": 500
                            },
                            {
                              "country": "AU",
                              "request_count": 200
                            }
                          ],
                          "unallocated_usage": {
                            "request_count": 0,
                            "credits_used": 0
                          }
                        }
                      ],
                      "next_cursor": null
                    }
                  },
                  "annual": {
                    "summary": "Annual billing period",
                    "value": {
                      "customer_name": "acme_corp",
                      "data": [
                        {
                          "id": 124,
                          "type": "annual",
                          "start_date": "2026-01-16T00:00:00Z",
                          "end_date": "2027-01-16T00:00:00Z",
                          "credit_limit": 120000,
                          "credits_used": 1000,
                          "credits_remaining": 119000,
                          "total_requests": 800,
                          "by_country": [
                            {
                              "country": "US",
                              "request_count": 600
                            },
                            {
                              "country": "AU",
                              "request_count": 200
                            }
                          ],
                          "unallocated_usage": {
                            "request_count": 0,
                            "credits_used": 0
                          },
                          "monthly": [
                            {
                              "year": 2026,
                              "month": 1,
                              "start_date": "2026-01-16T00:00:00Z",
                              "end_date": "2026-02-16T00:00:00Z",
                              "request_count": 700,
                              "credits_used": 900
                            },
                            {
                              "year": 2026,
                              "month": 2,
                              "start_date": "2026-02-16T00:00:00Z",
                              "end_date": "2026-03-16T00:00:00Z",
                              "request_count": 100,
                              "credits_used": 100
                            },
                            {
                              "year": 2026,
                              "month": 3,
                              "start_date": "2026-03-16T00:00:00Z",
                              "end_date": "2026-04-16T00:00:00Z",
                              "request_count": 0,
                              "credits_used": 0
                            },
                            {
                              "year": 2026,
                              "month": 4,
                              "start_date": "2026-04-16T00:00:00Z",
                              "end_date": "2026-05-16T00:00:00Z",
                              "request_count": 0,
                              "credits_used": 0
                            },
                            {
                              "year": 2026,
                              "month": 5,
                              "start_date": "2026-05-16T00:00:00Z",
                              "end_date": "2026-06-16T00:00:00Z",
                              "request_count": 0,
                              "credits_used": 0
                            },
                            {
                              "year": 2026,
                              "month": 6,
                              "start_date": "2026-06-16T00:00:00Z",
                              "end_date": "2026-07-16T00:00:00Z",
                              "request_count": 0,
                              "credits_used": 0
                            },
                            {
                              "year": 2026,
                              "month": 7,
                              "start_date": "2026-07-16T00:00:00Z",
                              "end_date": "2026-08-16T00:00:00Z",
                              "request_count": 0,
                              "credits_used": 0
                            },
                            {
                              "year": 2026,
                              "month": 8,
                              "start_date": "2026-08-16T00:00:00Z",
                              "end_date": "2026-09-16T00:00:00Z",
                              "request_count": 0,
                              "credits_used": 0
                            },
                            {
                              "year": 2026,
                              "month": 9,
                              "start_date": "2026-09-16T00:00:00Z",
                              "end_date": "2026-10-16T00:00:00Z",
                              "request_count": 0,
                              "credits_used": 0
                            },
                            {
                              "year": 2026,
                              "month": 10,
                              "start_date": "2026-10-16T00:00:00Z",
                              "end_date": "2026-11-16T00:00:00Z",
                              "request_count": 0,
                              "credits_used": 0
                            },
                            {
                              "year": 2026,
                              "month": 11,
                              "start_date": "2026-11-16T00:00:00Z",
                              "end_date": "2026-12-16T00:00:00Z",
                              "request_count": 0,
                              "credits_used": 0
                            },
                            {
                              "year": 2026,
                              "month": 12,
                              "start_date": "2026-12-16T00:00:00Z",
                              "end_date": "2027-01-16T00:00:00Z",
                              "request_count": 0,
                              "credits_used": 0
                            }
                          ]
                        }
                      ],
                      "next_cursor": null
                    }
                  },
                  "empty": {
                    "summary": "No stored periods",
                    "value": {
                      "customer_name": "acme_corp",
                      "data": [],
                      "next_cursor": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid or conflicting query parameters. Only id, num_billing_periods and cursor are accepted; year is not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "page_size": {
                    "summary": "Invalid page size",
                    "value": {
                      "error": "page size must be an integer between 1 and 100"
                    }
                  },
                  "conflicting_selection": {
                    "summary": "ID combined with pagination",
                    "value": {
                      "error": "id cannot be combined with pagination or used on /periods"
                    }
                  },
                  "invalid_cursor": {
                    "summary": "Malformed cursor or cursor for another account",
                    "value": {
                      "error": "invalid cursor"
                    }
                  },
                  "unsupported_parameter": {
                    "summary": "Unsupported parameter",
                    "value": {
                      "error": "unsupported reporting query parameter"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing API key, or invalid, expired or unverified portal JWT.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "missing_key": {
                    "summary": "Missing API key",
                    "value": {
                      "error": "Missing API key. Please provide it as: Authorization: Bearer <YOUR_KEY>"
                    }
                  },
                  "unverified_email": {
                    "summary": "Portal email not verified",
                    "value": {
                      "error": "email not verified"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid or revoked API key, or portal identity without active organization membership. Portal authentication is unavailable when portal access is disabled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "invalid_key": {
                    "summary": "Invalid API key",
                    "value": {
                      "error": "invalid API key"
                    }
                  },
                  "no_membership": {
                    "summary": "No active organization membership",
                    "value": {
                      "error": "no active organization membership"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The selected billing period does not exist or does not belong to the authenticated account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "not_found": {
                    "summary": "Billing period not found",
                    "value": {
                      "error": "billing period not found"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "unable_to_process": {
                    "value": {
                      "error": "unable to process request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/periods": {
      "get": {
        "operationId": "getBillingPeriods",
        "tags": [
          "Usage"
        ],
        "summary": "List billing periods",
        "description": "List the authenticated account's stored billing periods, newest first by start_date and then id. Free. Reading this endpoint does not create periods. Use a returned id with GET /v2/usage_stats?id=... to fetch that period's usage.\n\nReturns metadata only. Pass next_cursor as cursor to fetch older periods; null means there are no more. An account with no stored periods returns an empty data array. This endpoint uses API-key authentication.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of billing periods per page.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "description": "Opaque next_cursor from the preceding response for the same account. Pass it unchanged to fetch older periods; stop when next_cursor is null.",
            "schema": {
              "type": "string",
              "maxLength": 1024
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Billing-period metadata for your account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPeriodPage"
                },
                "examples": {
                  "periods": {
                    "summary": "One billing period",
                    "value": {
                      "customer_name": "acme_corp",
                      "data": [
                        {
                          "id": 123,
                          "type": "monthly",
                          "start_date": "2026-10-01T00:00:00Z",
                          "end_date": "2026-11-01T00:00:00Z"
                        }
                      ],
                      "next_cursor": null
                    }
                  },
                  "empty": {
                    "summary": "No stored periods",
                    "value": {
                      "customer_name": "acme_corp",
                      "data": [],
                      "next_cursor": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters or cursor. Only limit and cursor are accepted; id and year are not supported.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "page_size": {
                    "summary": "Invalid page size",
                    "value": {
                      "error": "page size must be an integer between 1 and 100"
                    }
                  },
                  "invalid_cursor": {
                    "summary": "Invalid cursor",
                    "value": {
                      "error": "invalid cursor"
                    }
                  },
                  "id_not_supported": {
                    "summary": "ID selection is not supported",
                    "value": {
                      "error": "id cannot be combined with pagination or used on /periods"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "missing_key": {
                    "value": {
                      "error": "Missing API key. Please provide it as: Authorization: Bearer <YOUR_KEY>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "invalid_key": {
                    "value": {
                      "error": "invalid API key"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RequestError"
                },
                "examples": {
                  "unable_to_process": {
                    "value": {
                      "error": "unable to process request"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "`Authorization: Bearer <YOUR_API_KEY>`. The `Bearer` prefix is optional.",
        "bearerFormat": "API key"
      },
      "portalJwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "A verified Meer portal JWT for a user with active organization membership. Supported by /v2/usage_stats when portal access is enabled."
      }
    },
    "headers": {
      "CorrelationId": {
        "description": "ID of this request and, in webhook mode, of the lookup. Quote it to support.",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "CreditCost": {
        "description": "Credits charged for this lookup.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitLimit": {
        "description": "Your credit limit for the billing period.",
        "schema": {
          "type": "integer"
        }
      },
      "RateLimitRemaining": {
        "description": "Credits left in the billing period.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "schemas": {
      "Status": {
        "type": "string",
        "enum": [
          "started",
          "succeeded",
          "failed"
        ]
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "invalid_phone_number",
          "upstream_timeout",
          "upstream_error",
          "lookup_expired",
          "billing_error"
        ],
        "description": "See [Webhooks](/api-reference/webhooks#error-codes) for the full table."
      },
      "Cost": {
        "type": "object",
        "required": [
          "credits_used_for_query",
          "total_credits_used",
          "credit_limit"
        ],
        "properties": {
          "credits_used_for_query": {
            "type": "integer",
            "description": "Credits this lookup cost."
          },
          "total_credits_used": {
            "type": "integer",
            "description": "Credits used in the billing period."
          },
          "credit_limit": {
            "type": "integer",
            "description": "Your credit limit for the billing period."
          }
        }
      },
      "Answer": {
        "type": "object",
        "required": [
          "do_not_call",
          "timestamp",
          "dnc_list_source",
          "cost"
        ],
        "properties": {
          "do_not_call": {
            "type": "boolean",
            "description": "`true` if the number is on the register."
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "When the check ran."
          },
          "dnc_list_source": {
            "type": [
              "string",
              "null"
            ],
            "description": "The register that answered. Can be `null` when the number is not listed."
          },
          "cost": {
            "$ref": "#/components/schemas/Cost"
          }
        }
      },
      "Receipt": {
        "type": "object",
        "required": [
          "status",
          "correlation_id",
          "phone_number",
          "country"
        ],
        "properties": {
          "status": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Status"
              }
            ],
            "const": "started"
          },
          "correlation_id": {
            "type": "string",
            "format": "uuid",
            "description": "Identifies the lookup; every push for it carries the same value. Quote it to support."
          },
          "phone_number": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "RequestError": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "country": {
            "type": "string",
            "description": "422 only: the country of the number."
          },
          "supported_countries": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "422 only."
          }
        }
      },
      "LookupError": {
        "type": "object",
        "required": [
          "error",
          "error_code",
          "charged"
        ],
        "properties": {
          "error": {
            "type": "string"
          },
          "error_code": {
            "$ref": "#/components/schemas/ErrorCode"
          },
          "charged": {
            "type": "boolean"
          }
        }
      },
      "PushIdentity": {
        "type": "object",
        "required": [
          "status",
          "error_code",
          "correlation_id",
          "phone_number",
          "country"
        ],
        "properties": {
          "correlation_id": {
            "type": "string",
            "format": "uuid",
            "description": "The correlation_id from the receipt. Deduplicate on it."
          },
          "phone_number": {
            "type": "string"
          },
          "country": {
            "type": "string"
          }
        }
      },
      "SucceededPush": {
        "title": "Succeeded",
        "allOf": [
          {
            "$ref": "#/components/schemas/PushIdentity"
          },
          {
            "$ref": "#/components/schemas/Answer"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Status"
                  }
                ],
                "const": "succeeded"
              },
              "error_code": {
                "type": "null"
              }
            }
          }
        ]
      },
      "FailedPush": {
        "title": "Failed",
        "allOf": [
          {
            "$ref": "#/components/schemas/PushIdentity"
          },
          {
            "$ref": "#/components/schemas/LookupError"
          },
          {
            "type": "object",
            "properties": {
              "status": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Status"
                  }
                ],
                "const": "failed"
              }
            }
          }
        ]
      },
      "UsageStatsResponse": {
        "type": "object",
        "required": [
          "customer_name",
          "total_requests",
          "monthly",
          "by_country"
        ],
        "properties": {
          "customer_name": {
            "type": "string",
            "description": "The account the API key belongs to."
          },
          "total_requests": {
            "type": "integer",
            "format": "int64",
            "description": "Sum of `monthly[].request_count`."
          },
          "monthly": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MonthlyUsage"
            },
            "description": "Oldest month first. Months with no requests may be missing."
          },
          "by_country": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CountryUsage"
            },
            "description": "Most requests first, then by country code."
          }
        }
      },
      "MonthlyUsage": {
        "type": "object",
        "required": [
          "year",
          "month",
          "request_count"
        ],
        "properties": {
          "year": {
            "type": "integer",
            "description": "UTC year."
          },
          "month": {
            "type": "integer",
            "minimum": 1,
            "maximum": 12,
            "description": "UTC month."
          },
          "request_count": {
            "type": "integer",
            "description": "Billable requests that month."
          }
        }
      },
      "CountryUsage": {
        "type": "object",
        "required": [
          "country",
          "request_count"
        ],
        "properties": {
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code."
          },
          "request_count": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "BillingPeriod": {
        "type": "object",
        "required": [
          "id",
          "type",
          "start_date",
          "end_date"
        ],
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64",
            "description": "Billing-period ID. Use with /v2/usage_stats?id=... to select this period.",
            "minimum": 1
          },
          "type": {
            "type": "string",
            "enum": [
              "monthly",
              "annual"
            ],
            "description": "The billing cadence for this period."
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Inclusive start of the billing period, in UTC."
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Exclusive end of the billing period, in UTC."
          }
        }
      },
      "UnallocatedUsage": {
        "type": "object",
        "required": [
          "request_count",
          "credits_used"
        ],
        "description": "Difference between period totals and usage that can be assigned to dated billing-month detail. Historical usage may have incomplete detail; period totals remain authoritative. This is already included in total_requests and credits_used, not an additional charge.",
        "properties": {
          "request_count": {
            "type": "integer",
            "format": "int64",
            "description": "Requests not allocated to dated billing-month detail."
          },
          "credits_used": {
            "type": "integer",
            "format": "int64",
            "description": "Credits not allocated to dated billing-month detail."
          }
        }
      },
      "BillingMonthUsage": {
        "type": "object",
        "required": [
          "year",
          "month",
          "start_date",
          "end_date",
          "request_count",
          "credits_used"
        ],
        "properties": {
          "year": {
            "type": "integer",
            "format": "int32",
            "description": "UTC year of this bucket's start date."
          },
          "month": {
            "type": "integer",
            "format": "int32",
            "description": "UTC month of this bucket's start date.",
            "minimum": 1,
            "maximum": 12
          },
          "start_date": {
            "type": "string",
            "format": "date-time",
            "description": "Inclusive bucket start, in UTC, anchored to the billing period's start."
          },
          "end_date": {
            "type": "string",
            "format": "date-time",
            "description": "Exclusive bucket end, in UTC."
          },
          "request_count": {
            "type": "integer",
            "format": "int64",
            "description": "Requests charged in this bucket, including pending charges and excluding refunded charges.",
            "minimum": 0
          },
          "credits_used": {
            "type": "integer",
            "format": "int64",
            "description": "Credits charged in this bucket, including pending charges and excluding refunded charges.",
            "minimum": 0
          }
        }
      },
      "BillingPeriodUsage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BillingPeriod"
          },
          {
            "type": "object",
            "required": [
              "credit_limit",
              "credits_used",
              "credits_remaining",
              "total_requests",
              "by_country",
              "unallocated_usage"
            ],
            "properties": {
              "credit_limit": {
                "type": "integer",
                "format": "int32",
                "description": "Credit limit recorded for this billing period."
              },
              "credits_used": {
                "type": "integer",
                "format": "int32",
                "description": "Credits used in this period, including pending charges. Refunds restore the original period's balance.",
                "minimum": 0
              },
              "credits_remaining": {
                "type": "integer",
                "format": "int64",
                "description": "credit_limit minus credits_used. Can be negative if the limit has been lowered below existing usage."
              },
              "total_requests": {
                "type": "integer",
                "format": "int64",
                "description": "Requests charged in this period, including pending charges and excluding refunded charges. A request can cost more than one credit.",
                "minimum": 0
              },
              "by_country": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CountryUsage"
                },
                "description": "Completed lookups with attributable detail, ordered by request_count descending and country code ascending. Pending charges and historical usage without dated detail can make this sum smaller than total_requests."
              },
              "unallocated_usage": {
                "$ref": "#/components/schemas/UnallocatedUsage"
              },
              "monthly": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BillingMonthUsage"
                },
                "description": "Annual periods only; omitted for monthly periods. Twelve buckets anchored to the billing start, not calendar months. Empty buckets contain zeros. Bucket totals plus unallocated_usage equal the period totals."
              }
            }
          }
        ]
      },
      "BillingPeriodUsagePage": {
        "type": "object",
        "required": [
          "customer_name",
          "data",
          "next_cursor"
        ],
        "properties": {
          "customer_name": {
            "type": "string",
            "description": "The authenticated account."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingPeriodUsage"
            },
            "description": "Selected stored periods, ordered by start_date and then id, newest first. Empty when no periods are stored."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for the next page of older periods. Pass unchanged as cursor; null means there are no more."
          }
        }
      },
      "BillingPeriodPage": {
        "type": "object",
        "required": [
          "customer_name",
          "data",
          "next_cursor"
        ],
        "properties": {
          "customer_name": {
            "type": "string",
            "description": "The authenticated account."
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BillingPeriod"
            },
            "description": "Selected stored periods, ordered by start_date and then id, newest first. Empty when no periods are stored."
          },
          "next_cursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "Opaque cursor for the next page of older periods. Pass unchanged as cursor; null means there are no more."
          }
        }
      }
    }
  },
  "tags": [
    {
      "name": "Phone Numbers",
      "description": "Do-not-call lookups"
    },
    {
      "name": "Usage",
      "description": "Usage for your account"
    }
  ]
}
